nav.post-controls .actions {
    display: inline-flex;
    text-align: right;
    margin-left: auto;
    align-items: center;
}
.names span.first {
    display: flex;
    align-items: baseline;
    font-weight: bold;
    font-size: 15.68px;
}
