.topic-list-item:nth-child(even) {
    background-color: #ebe6f978;
}

body.dark-knight .topic-list-item:nth-child(even) {
    background-color: #ebe6f978;
}

#list-area {
    border: 1px solid var(--primary-low);
    border-radius: 8px;
}

.topic-list-header {
    border: 0;
    border-bottom: 1px var(--primary-low) solid;
}

#list-area tbody {
    border-top: 0;
}

.topic-list .link-bottom-line .discourse-tags {
    flex-wrap: wrap;
    gap: 5px;
    font-size: 0.898em !important;
}

.topic-list .topic-list-data {
    padding: 12px !important;
}

.topic-list > thead > tr > th,
.category-list .category,
.category-list .topics {
    font-size: 16px;
    color: var(--primary-500);
}

.topic-list-bottom .footer-message {
    padding-top: 4px;
    padding-left: 14px;
}
